<%= render 'shared/navbar' %>

<div class="bannerdash" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.theconversation.com/files/67872/original/image-20141221-31560-ogavyx.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop);">
  <div class="container">
    <h1>Ma selection</h1>
  </div>
</div>

<% @user_selections.order("created_at desc").each do |user| %>
    <%= link_to wine_path(user.wine) do %>
  <div class="card-product my-3">
      <%= cl_image_tag user.meal.photo %>
    <div class="card-product-infos">
      <h2 class="linktoshow"><%= user.wine.name %></h2>
      <p class="linktoshow"><%= user.wine.price %></p>
      <p class="linktoshow"><%= user.wine.wine_region.name %>, <%= user.wine.wine_type.name %></p>
    </div>
  </div>
  <% end %>
<% end %>

