
<div class="user-selection-container">
  <div class="bannerdash">
    <div class="container">
      <h1>Ma sélection</h1>
    </div>
  </div>
  <div class="user-selections">
    <div class="user-selection-cards">
      <div class="container ">
        <% @user_selections.order("created_at desc").each do |user| %>
        <p class="date">Repas du <%= user.created_at.strftime("%e %b") %>: <strong><%=user.meal.name  %></strong></p>


          <%= link_to wine_path(user.wine) do %>
          <div class="card-product mb-3">
            <%= cl_image_tag user.meal.photo %>
              <div class="card-product-infos">
                <p class="linktoshow"><strong><%= user.wine.name %></strong></p>
                <div class="linktoshow"><%= image_tag("https://res.cloudinary.com/duf8mmjpl/image/upload/v1606922410/bourse_co349v.png", size: "25x25") %>
                  <p><%= user.wine.price %></p>
                </div>
                <div class="linktoshow"><%= image_tag("https://res.cloudinary.com/duf8mmjpl/image/upload/v1606928058/grape_aasf9l.png", size: "25x25") %>
                  <p><%= user.wine.wine_region.name %>, <%= user.wine.wine_type.name %></p>
                </div>
                <div class="cc">
                  <%= link_to user_selection_path(user), :method => 'delete', data: {confirm: "Are you sure?"} do %>
                    <p>+</p>
                  <% end %>
                </div>
                <p>
                  <% if user.rating %>
                    <% user.rating.note.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                    <% (5 - user.rating.note).times do %>
                      <i class="far fa-star"></i>
                    <% end %>
                  <% else %>
                    <%= link_to new_user_selection_rating_path(user), class: "rate-card-link" do %>
                    <i class="fas fa-plus"></i> Noter
                    <% end %>
                  <% end %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <div id="rate-show-container"></div>
