<%= render 'shared/navbar' %>

<div class="bannerdash" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.theconversation.com/files/67872/original/image-20141221-31560-ogavyx.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=675.0&fit=crop);">
  <div class="container">
    <h1>Ma selection</h1>
  </div>
</div>
<div class="container">
  <% @user_selections.order("created_at desc").each do |user| %>
    <p class="date">Repas du <%= user.created_at.strftime("%e %b") %> </p>
      <%= link_to user_selection_path(user), :method => 'delete', class: "cc", data: {confirm: "Are you sure?"} do %>
        <p>+</p>
      <% end %>
    <%= link_to wine_path(user.wine) do %>
    <div class="card-product mb-3">
      <%= cl_image_tag user.meal.photo %>
        <div class="card-product-infos">
          <p class="linktoshow">Tu as choisi un <strong> <%= user.wine.name %> </strong> </p>
          <p class="linktoshow"><%= user.wine.price %></p>
          <p class="linktoshow"><%= user.wine.wine_region.name %>, <%= user.wine.wine_type.name %></p>
          <p>
            <% if user.rating %>
              <% user.rating.note.times do %>
                <i class="fas fa-star"></i>
              <% end %>
              <% (5 - user.rating.note).times do %>
                <i class="far fa-star"></i>
              <% end %>
            <% else %>
              <%= link_to "Add rate", new_user_selection_rating_path(user) %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
