
<div class="container">

  <div class="first">
    <div class="intro">
      <h2>Pour un(e) <strong> <%= @meal.name %></strong>, on vous recommande...</h2>
    </div>
    <div class="wine">
      <div class="box">
        <h2><%= @suggestion.wine_region.name.upcase %></h2>
        <h2><%= @suggestion.wine_type.name.upcase %> </h2>
      </div>
      <div class="btl">
        <%= cl_image_tag @suggestion.wine_region.photo.key%>
      </div>
    </div>
  </div>

  <div class="results">
    <% @wine_selection.sample(3).each do |wine| %>
    <div class="card-product">
      <div class="text">
        <h2><%=wine.name.upcase %></h2>
        <p><%=wine.price%> <i class="fas fa-euro-sign"></i></p>
      </div>
      <div class="link">
        <p><%=link_to("VOIR", wine_path(wine)) %></p>
      </div>
    </div>
  <% end %>
  </div>
</div>
