
<div class="container pt-5">

  <h1> <%= @wine.name %> </h1>

  <li>
    <ul> <%= @wine.price %> </ul>
    <ul><%= @wine.millesime %></ul>
    <ul><%= @wine.cepage %></ul>
  </li>

  <p><%= @wine.description %></p>
  <div>
    <h4>Pour briller en société</h4>
    <p>Juillet 2010, des plongeurs ont retrouvé 168 bouteilles de champagne parfaitement conservées dans une épave en mer Baltique. Sa production est située autour des années 1780.</p>
  </div>

</div>
