<div class="show-banner">
    <div id="map"
     style="width: 100%; height: 300px; background-image: url(https://res.cloudinary.com/duf8mmjpl/image/upload/v1606310359/Capture_d_e%CC%81cran_2020-11-25_a%CC%80_14.17.39_qhexwj.png);">
      <div class= "wine-name">
        <h1><%= @wine.name %></h1>
        <p><%= image_tag("https://ruedesvignerons-548724.c.cdn77.org/images/front/svg-rounded-flags/fr.svg", size: "15x15", :alt => "rss feed") %> <%= @wine.wine_region.name %></p>
      </div>
    </div>
    <div class="info-vin">
      <table class="my-2">
        <tr>
          <td> Meilleures années: <br> <%= @wine.millesime %></td>
          <td> Cépages: <br><%= @wine.cepage %></td>
        </tr>
        <tr>
          <td> Prix: <br><%= @wine.price %></td>
           <td> Couleur:<br><%= @wine.wine_type.name %></td>
        </br>
      </table>
    <%= image_tag "https://res.cloudinary.com/duf8mmjpl/image/upload/v1606305282/forme_bouteille_j1otrc.png", :class => "bouteille" %>
      </div>
      <div class="description">
        <h3>Description</h3>
        <p class="my-4"><%= @wine.description %></p>
    </div>
</div>
